body{
  	background-size: 100%;
    background-repeat: no-repeat;
    color: #000000;
}
* {
	box-sizing: border-box;
}
img { 
  height: 150px;
  width: 150px;
}
.btn {
  /* adding spacing between each button*/
  margin: 5px;
  /* background-color: #680352; */
  border-color: #fff;
    
}
.gifDiv{
  float: left;
  margin: 5px;
}
.container {
	opacity: 0.8;
	padding: 20px;
}
.jumbotron {
  font-family: 'Philosopher', sans-serif;
  background-color: inherit;
  text-align: center;
	background-color: #997491;
}
